$icomoon-font-path: "fonts" !default;

$mag-icon-adress: "\e900";
$mag-icon-arrow: "\e901";
$mag-icon-contact: "\e902";
$mag-icon-diagnostyka: "\e903";
$mag-icon-GEOMETRIA: "\e904";
$mag-icon-hamulce: "\e905";
$mag-icon-klima: "\e906";
$mag-icon-KLIMA_NAPRAWA: "\e907";
$mag-icon-mail: "\e908";
$mag-icon-phone: "\e909";
$mag-icon-rozrzad: "\e90a";
$mag-icon-sprzeglo: "\e90b";
$mag-icon-time: "\e90c";
$mag-icon-zawieszenie: "\e90d";

